{% extends 'base.html' %}

{% block title %}FILMS LIST{% endblock %}

{% block page_content %}
{% for message in get_flashed_messages() %}
            <p style="color:green">{{ message }}</p>
{% endfor %}
<div class="page-header">
        <a href="/search">Next searching</a>
        <h1>Log in user {{ login_user_id }}</h1>
        <table class="table table-bordered">
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Title</th>
                <th scope="col">Year</th>
                <th scope="col">Runtime</th>
                <th scope="col">Director</th>
            </tr>
            <tbody>
            {% for film in all %}
            <tr scope="row">
                <td>{{ film.id }}</td>
                <td>{{ film.title }}</td>
                <td>{{ film.year }}</td>
                <td>{{ film.runtime }}</td>
                <td>{{ film.director }}</td>
                <td>
                    <a href="/filmdelete?title={{ film.title }}">Delete</a>
                </td>
                <td>
                    <a href="/details?imdbID={{ film.film_id }}">Details</a>
                </td>
            </tr>
            </tbody>
            {% endfor %}

        </tbody>
    </table>
    <a href="/filmlist">Go to previous search results</a>
</div>
{% endblock %}