{% extends 'base.html' %}

{% block title %}Results{% endblock %}

{% block page_content %}
<div class="page-header">
        <a href="/search">New searching</a>

        <table class="table table-bordered">
            <tr>
                <td><img src="{{ film['Poster'] }}"> </td>
                <td>
                    <a href="/filmadding?title={{ film['Title'] }}">Add to list</a>
                </td>

            </tr>

            <tr>
                <th scope="col">Title</th>
                <td>{{ film['Title'] }}</td>
            </tr>
            <tr>
                <th scope="col">Year</th>
                <td>{{ film['Year'] }}</td>
            </tr>
            <tr>
                <th scope="col">Genre</th>
                <td>{{ film['Genre'] }}</td>
            </tr>
            <tr>
                <th scope="col">Type</th>
                <td>{{ film['Type'] }}</td>
            </tr>
            <tr>
                <th scope="col">Director</th>
                <td>{{ film['Director'] }}</td>
            </tr>
            <tr>
                <th scope="col">Actors</th>
                <td>{{ film['Actors'] }}</td>
            </tr>
            <tr>
                <th scope="col">Country production</th>
                <td>{{ film['Country'] }}, {{ film['Production'] }}</td>
            </tr>
            <tr>
                <th scope="col">Plot</th>
                <td>{{ film['Plot'] }}</td>
            </tr>
            <tr>
                <th scope="col">Runtime</th>
                <td>{{ film['Runtime'] }}</td>
            </tr>
            <tr>
                <th scope="col">BoxOffice</th>
                <td>{{ film['BoxOffice'] }}</td>
            </tr>

                <td>
                    <a href="/filmlist">Go to previous search results</a>
                </td>

    </table>

</div>
{% endblock %}