{% extends 'base.html' %}

{% block title %}USERS LIST{% endblock %}

{% block page_content %}
<div class="page-header">
        <table class="table table-bordered">
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Age</th>
                <th scope="col">Mail</th>
                <th scope="col">Phone</th>
            </tr>
            <tbody>
            {% for user in all %}
            <tr scope="row">
                <td>{{ user.id }}</td>
                <td>{{ user.name }}</td>
                <td>{{ user.last_name }}</td>
                <td>{{ user.age }}</td>
                <td>{{ user.mail }}</td>
                <td>{{ user.phone }}</td>
            </tr>
            </tbody>
            {% endfor %}

        </tbody>
    </table>
</div>
{% endblock %}